$dark-red: rgb(150, 4, 4);
$red: rgb(238, 0, 0);

@mixin container() {
  max-width: 100%;
  margin: 0 auto;
  padding: 2em 10em;
  min-height: 80vh;
  display: flex;
  align-items: center;
}

.content {
  padding: 1em;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: 'EB Garamond', Garamond, serif;
  font-feature-settings: 'lnum';
  font-size: 28px;
  // border-top: 0.5em solid $dark-red;
}

section {
  @include container();
}

#why-brown, #please {
  background-color: $dark-red;
  color: white;
}

#dear {
  position: relative;
  font-style: italic;
  margin-bottom: 1.5em;

  &::before {
    content: '❧';
    display: block;
    position: absolute;
    left: -1.2em;
    top: -0.15em;
    font-size: 1.4em;
    color: $dark-red;
  }
}

p {
  line-height: 1.45;
  padding-bottom: 0.5em;
}
