@charset "UTF-8";
.content {
  padding: 1em; }

body {
  margin: 0;
  font-size: 18px;
  font-family: 'EB Garamond', Garamond, serif;
  font-feature-settings: 'lnum';
  font-size: 28px;
  border-top: 1em solid #960404; }

section {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  padding: 2em 10em;
  min-height: 50vh;
  display: flex;
  align-items: center; }

#why-brown {
  background-color: #0a0a0a;
  color: white; }

#please {
  background-color: #960404;
  color: white; }

#dear {
  position: relative;
  font-style: italic;
  margin-bottom: 1.5em; }
  #dear::before {
    content: '❧';
    display: block;
    position: absolute;
    left: -1.2em;
    top: -0.15em;
    font-size: 1.4em;
    color: #960404; }

p {
  line-height: 1.45;
  padding-bottom: 0.5em; }

.star-canvas {
  position: fixed;
  transform: translate3d(0, 0, 0); }

#stars {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

a {
  color: #960404;
  text-decoration: underline; }
  a a:visited {
    color: #960404; }
