body {
  margin: 0;
  background-color: black;
}

.star-canvas {
  position: fixed;
}

#stars {
  position: absolute;
  width: 100vw;
  height: 200vh;
  overflow: hidden;
  background-color: black;
}
