@charset "UTF-8";
.content {
  padding: 3.25rem 0;
  max-width: 24em;
  margin: 0 auto; }

html {
  font-family: 'EB Garamond', Garamond, serif;
  font-size: 28px; }

body {
  margin: 0;
  font-feature-settings: 'lnum';
  -webkit-font-feature-settings: 'lnum';
  -moz-font-feature-settings: 'lnum';
  border-top: 1em solid #960404; }

section {
  background-color: white; }

#why-brown {
  background-color: #0a0a0a;
  color: white;
  position: relative; }

#please {
  background-color: rgba(150, 4, 4, 0.8);
  color: white;
  position: relative; }

#dear {
  font-style: italic;
  margin-bottom: 1.5em;
  position: relative; }
  #dear::before {
    content: '❧';
    display: block;
    position: absolute;
    left: -1.2em;
    top: -0.15em;
    font-size: 1.4em;
    color: #960404; }

p {
  line-height: 1.45;
  margin-top: 0;
  margin-bottom: 0.5em; }
  p:last-child {
    padding-bottom: 0;
    margin-bottom: 0; }

.star-canvas {
  position: fixed;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0); }

#stars {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

a {
  color: #960404;
  text-decoration: underline; }
  a a:visited {
    color: #960404; }

.project-collection {
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 3em; }
  .project-collection::after {
    content: " ";
    display: block;
    clear: both; }

.project {
  box-sizing: border-box;
  width: 31%;
  margin-right: 3.333%;
  float: left;
  display: block;
  border: 1px solid #ddd;
  border-radius: 0.2rem;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 3px 10px #ddd;
  overflow: hidden;
  position: relative;
  top: 0;
  transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms; }
  .project:hover {
    top: -8px;
    box-shadow: 0 11px 15px #ddd; }
  .project-title {
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin: 1em 0; }
  .project-description {
    font-weight: normal;
    color: black;
    font-size: 0.75em;
    text-align: left;
    margin: 1em; }
  .project-image {
    width: 100%;
    display: block; }
  .project:last-child {
    margin-right: 0; }

.background-image {
  width: 100%;
  position: fixed;
  bottom: 40vh;
  left: 0;
  z-index: -1; }

#sign-off {
  padding-top: 1em;
  font-style: italic; }
